<html>
    <head>
        <title> Movie Recommender System </title>

    </head>

    <body>
        <h1> Here are your top 5 movie recommendations!</h1>

        <h3>1. {{movie1}} </h3>

        <h3>2. {{movie2}} </h3>

        <h3>3. {{movie3}} </h3>

        <h3>4. {{movie4}} </h3>

        <h3>5. {{movie5}} </h3>

        <h3> If you would like to restart this program, click Restart! </h3>

        <form action = "" method ="post" name = "proceed">
            {{form.hidden_tag()}}
            <p><input type = "submit" value = "Restart"></p>
        </form>



    </body>


</html>